<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather_icon.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is created by Indira Sarkar. It uses data from mapbox.com and darksky.net</p>
            <img class="portrait" src = "/img/weather.png">
        </div>
        {{>footer}}
    </body>
</html>